In [3]:
import numpy as np
import pandas as pd
import descartes
# import geopandas as gpd
# from shapely.geometry import Point, Polygon

In [24]:
df = pd.read_csv('ghcnd_hcn/pair_final.csv')
df.shape

(524065, 15)

In [38]:
test_df = df.query("STATION == 'USC00057936'")
lat, lon = test_df.LAT.values[0], test_df.LON.values[0]
test_df.shape

(5506, 15)

In [40]:
train_df = df[(lat-1 < df.LAT ) &
   (df.LAT < lat+1) & 
  (lon-1 < df.LON ) &
   (df.LON < lon+1)
  ]
train_df

,STATION,LAT,LON,ELEV,DATE,PRCP1,TMAX1,TMIN1,SNOW1,SNOWD1,PRCP2,TMAX2,TMIN2,SNOW2,SNOWD2
238541,USC00052281,39.6261,-106.0353,2763.0,722815.0,0.0,17.0,-167.0,0.0,178.0,0.0,17.0,-167.0,0.0,178.0
238542,USC00052281,39.6261,-106.0353,2763.0,722817.0,0.0,17.0,-167.0,0.0,178.0,0.0,17.0,-167.0,0.0,178.0
238543,USC00052281,39.6261,-106.0353,2763.0,722819.0,0.0,17.0,-167.0,0.0,178.0,0.0,17.0,-167.0,0.0,178.0
238544,USC00052281,39.6261,-106.0353,2763.0,722821.0,0.0,17.0,-167.0,0.0,178.0,0.0,17.0,-167.0,0.0,178.0
238545,USC00052281,39.6261,-106.0353,2763.0,722823.0,0.0,17.0,-167.0,0.0,178.0,0.0,17.0,-167.0,0.0,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326511,USC00057936,40.4883,-106.8233,2092.8,737323.0,0.0,306.0,50.0,0.0,0.0,0.0,306.0,50.0,0.0,0.0
326512,USC00057936,40.4883,-106.8233,2092.8,737325.0,0.0,306.0,50.0,0.0,0.0,0.0,306.0,50.0,0.0,0.0
326513,USC00057936,40.4883,-106.8233,2092.8,737327.0,0.0,306.0,50.0,0.0,0.0,0.0,306.0,50.0,0.0,0.0
326514,USC00057936,40.4883,-106.8233,2092.8,737329.0,0.0,306.0,50.0,0.0,0.0,0.0,306.0,50.0,0.0,0.0
326515,USC00057936,40.4883,-106.8233,2092.8,737331.0,0.0,306.0,50.0,0.0,0.0,0.0,306.0,50.0,0.0,0.0

In [8]:
2 in range(1,3)

True